%section#top-header.row
  %h1.col-md-2
    = link_to "MyYelp", home_path
  - if current_user
    %ul.col-md-4.clearfix
      %li= link_to "Reviews", reviews_path
      %li= link_to "Users", users_path
    #user_links.pull-right
      %ul
        %li.dropdown
          %a(href="#" id="dlabel" role="button" data-toggle="dropdown" class="dropdown-toggle" data-target="#")
            Welcome, #{current_user.full_name}
            %b.caret
          %ul.dropdown-menu(role="menu" aria-labelledby="dlabel")
            %li
              %a(href="#") Account
              = link_to "Sign Out", sign_out_path
